html {
  background: #111;
}
.cantor {
  background-color: #bbf0f3;
  background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
  height: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}
.cantor .cantor {
  position: relative;
  top: 40px;
  width: 33%;
}
